/* #region Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --drop_foot: #000000;
    --drop_start: #0061FF;
    --drop_florida: #0093CE;
    --drop_lonelyplanet: #0D2481;
    --drop_asu: #61082B;
    --drop_designit: #A2D39B;
    --drop_jumbo: #B4D0E7;
    --drop_design_bord: #D1E9CD;
    --drop_wbr: #D5001F;
    --drop_designit_large: #F5F5F5;
    --drop_topps: #FF1C1C;
    --drop_plan:#DBDBDD;
    --drop_clearch: #FFD830;
    --drop_border: #BBBBBB;
    --drop_lang: #999894;
    --drop_hr: #D5D5D7;

}

img{
    max-width: 100%;
}

.primary_btn{
    background-color: var(--drop_start);
    padding: 6px 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.container_primary,
.container_secondary {
    margin: auto;
}

.container_primary{
    width: 63%;   
}

.container_secondary{
    width: 53%;
}

body{
    font-family: 'Open Sans', sans-serif;
}
/* #endregion Common */

/* #region Header */

#header_site {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: white;
}
.container_head{
    justify-content: space-between;
   /*  position: fixed;
    width: 100%; */
    margin: 1rem;
}

header a{
    text-decoration: none;
    color: var(--drop_foot);
    padding: 0 1.5rem;
}

header img{
    vertical-align: middle;
}
/* #endregion Header */

/* #region Main */
.jumbo::after,
.partner_drop::after {
    content: "";
    display: table;
    clear: both;
}

.jumbo img {
    width: 68%;
    float: right;
}

.unique_place{
    padding-top: 4rem;
    background-color: var(--drop_jumbo);
    height: 46rem;
}

h1{
    font-weight: 900;
    font-size: 70px;
    margin: 2.75rem 0;
}

.jumbo .primary_btn{
    margin: 2rem 0;
    display: inline-block;
}



.fa-arrow-down{
    color: var(--drop_foot);
    font-size: 3rem;
    margin-top: 5rem;
}

.business_plan{
    padding-top: 9rem;
}

h2{
    font-size: 36px;
    padding-bottom: 3rem;
}

.business_plan>span{
    padding-right: 4rem;
}

#billing{
    padding-bottom: 3rem;
    padding-top: 3.5rem;
}
.container_fluid{
    width: 100%;
}

.row{
    display: flex;
    gap: 3.5rem;
}

.col-4{
    width: calc(100% / 12 * 4);
    border: 1px solid var(--drop_plan);
    margin-bottom: 3rem;
}

.col-6{
    width: calc(100% / 12 * 6);
    aspect-ratio: 1/1;
    position: relative;
}

.type{
    border-bottom: 1px solid var(--drop_plan);
    text-align: center;
    padding: 9px 0;
    font-size: 14px;
}

.plan{
    margin: 24px;
    font-size: 15px;
}

h3{
    padding-bottom: 1rem;
    font-size: 24px;
}

.costo{
    padding-bottom: 0.75rem;
}

.frequenza{
color: var(--drop_border);
}

.frequenza {
    padding-bottom: 3rem;
}

.plan .primary_btn{
    display: block;
    padding: 8px 22px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.plan hr{
    width: 20%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h5{
    font-size: 15px;
    padding-bottom: 2rem;
}

.plan ul{
    list-style-type: none;
}

.fa-ul{
    margin-left: 1rem;
}

.fa-ul li{
    padding: 10px 0;
}

.blue i{
    color: var(--drop_start);
}

.type_bottom{
    border: 1px solid var(--drop_plan);
}

.solutions{
    padding-top: 3rem;
}

.primary_bot{
    position: absolute;
    top: 0;
    right: 0;
}

.type_bottom .primary_btn{
    margin: 0;
}

.type_bottom .plan{
    position: relative;
}

.partner_drop img{
    float: left;
    width: 62%;
    margin-right: 3rem;
}

.partner_drop{
    margin: 9rem 0;
}

.partner{
    padding: 3rem 0.875rem;
}

.partner a {
    text-decoration: none;
    margin-top: 2rem;
    padding: 8px 15px;
    display: inline-block;
    border: 1px solid;
    color: var(--drop_foot);
    box-shadow: 2px 2px 2px var(--drop_plan);
}

.operations_text p {
    padding: 1rem 0px;
}



.call_to_action {
    margin: 10rem 0;
    width: 60%;
}

.customers_large{
    background-color:var(--drop_designit_large);
    padding: 3rem 4rem;
}

.customers .row{
    flex-wrap: wrap;
    gap:unset;
}

.customers img{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter:invert(100%)
}

.customers,
.customers_large{
    flex-basis: 34%;
}

.customers_large hr{
    margin: 3rem 0;
    width: 20%;
    color: var(--drop_hr);
}

.customers_large img{
    width: 50%;
}

.tag{
    margin-top: 3rem;
}

.customers .dis{
    background-color: var(--drop_designit);
    border: 15px solid var(--drop_design_bord);
}
.customers .asu{
    background-color: var(--drop_asu);
}
.customers .flo{
    background-color: var(--drop_florida);
}
.customers .topps{
    background-color: var(--drop_topps);
}
.customers .wbr{
    background-color: var(--drop_wbr);
}
.customers .hearst{
    background-color: var(--drop_jumbo);
}
.customers .lon_planet{
    background-color: var(--drop_lonelyplanet);
}
.customers .clear_ch{
    background-color: var(--drop_clearch);
}



.company{
    background-color:var(--drop_jumbo);
    color: var(--drop_asu);
    padding: 8rem 0;
}

.company .container_secondary{
    position: relative;
}

.company h2{
    width: 50%;
    padding: 0;
}

.company a{    
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.faq{
    margin: 8rem 0;
    padding-top: 1rem;
}

.question{
    border-top: 1px solid var(--drop_border);
    border-bottom: 1px solid var(--drop_border);
    position: relative;
}

.question .fa-solid{
    position: absolute;
    top: 50%;
    right: 5%;
}

.question h5{
    padding-top: 2rem;
}
/* #endregion Main */

/* #region Footer */
#footer_site .container_fluid{
    background-color: var(--drop_foot);
    color: white;
    padding: 2rem 0;
}
.info{
    flex-direction: column;
}

.info h3{
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.info a{
    padding-bottom: 0.75rem;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.footer_top {
    padding-bottom: 6rem;
}

.footer_bot{
    color: var(--drop_lang);
}

.language {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#footer_site hr{
    width: 10%;
}
/* #endregion Footer */

/* #region Utilities */
.d_flex{
    display: flex;
}
.operations{
    border: none;
}

.space_between{
    justify-content: space-between;
}
/* #endregion Utilities */

